.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.genre-in-nav {
  display: none;
  
}
.navbar-toggler,.navbar-toggler-icon{
  background-color: brown;
  color: aliceblue;
}
.cursor-pointer{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
    .genre-in-nav {
        display: flex;
        justify-content: center;
        
      }
  }
  