@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Roboto:wght@100;300&display=swap");

:root {
  --primary-black: #191b1f;
  --semi-head: #8990a4;
  --semi-red: #5a0b08;
  --red: #a42618;
  --white: #d5d7dc;

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(black, 0.075) !important;
  --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.466) !important;
}

* {
  background-color: #191b1f;
}

.first-side {
  border-right: 0.1px solid rgb(41, 40, 40);
  background-color: var(--primary-black);
  height: 100vh;
  color: #8990a4;
}
.main {
  background-color: #191b1f;
  color: white;
}
.last-side {
  border-left: 0.1px solid rgb(41, 40, 40);
  background-color: var(--primary-black);
  height: 100vh;
  color: #8990a4;
}
.comeHome img {
  width: 50px;
}
